* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article, aside, footer, header, nav, section { display:block; }
ul li, ol li { list-style-type: none; }
